{
    "env": {
        "es6": true,
        "node": true,
		"browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
	"parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
		"allowImportExportEverywhere": false,
		"codeFrame": false,
        "sourceType": "module"
    },
	"settings": {
		"react": {
			"createClass": "createReactClass",
			"pragma": "React",
			"version": "15.0"
		}
	},
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": ["error", "tab", {"SwitchCase": 1}],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
		"no-console": ["warn", { "allow": ["warn", "error"] }],
		"no-unused-vars": "warn",
        "semi": ["warn", "always"],
		"react/jsx-indent-props": [2, "tab"]
    }
}
